.add-vzn-rate {
  height: 480px;
  width: 100vw;
  background: var(--colors-background-gray-100-main);
  .modal__content {
    height: 387px;
    width: calc(100% - 16px);
    margin: 0 auto;
    .form {
      margin-top: 12px;
    }
  }
}
