.modal {
  height: calc(100% - 64px);
  width: 100vw;
  background: var(--colors-background-gray-100-main);
  .modal__content {
    &--text {
      margin: 97px 8px 10px 8px;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
    }
    .form {
      margin: 0 8px;
      .wrapper__btn {
        margin-top: 10px;
      }
    }
  }
}
